@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
  font-family: rubik;
}

body{
  height: 100vh;
  margin: 0;
  background: #D8DBE6;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 5.5cm;
    height: auto;
  }
}